<section id="dia-agendamentos" class="page">
    <header class="page-header">
        <h1>Citas del Día: <span id="data-selecionada-titulo">--/--/----</span></h1>
        <a href="#" class="back-button" data-page="agendamento"><i class="fas fa-arrow-left"></i> Volver a Agenda</a>
    </header>

    <div class="appointments-container card">
        <div class="card-body" style="padding: 0;">
            <div class="table-responsive">
                <table class="appointments-table">
                    <thead>
                        <tr>
                            <th>Hora</th>
                            <th>Cliente</th>
                            <th>Procedimiento</th>
                            <th>Profesional</th>
                            <th>Status</th>
                            <th>Valor</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="dia-appointments-table-body">
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</section>